/* Font */

@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

/* Main */

body {
  text-align: center;
  background-color: rgb(24 146 205 / 22%);
  margin-top: 50px;
  color: aliceblue;
  font-family: "Audiowide", cursive;
}
h1 {
  font-size: 53px;
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  width: 100px;
}

/* Form */
.enter {
  display: inline-block;
  height: 23px;
  margin-left: 40px;
  font-size: 12px;
  border: 3px solid #000;
  background-color: #1c47605e;
  border-radius: 3px;
  padding: 3px 150px 3px 5px;
  color: aliceblue;
}

::placeholder {
  color: #f0f8ff;
}

#pencil {
  color: #000;
  font-size: 16px;
  margin-left: 10px;
  border: 3px solid #000;
  padding: 3px;
}

#loc_dot {
  color: #000;
  font-size: 16px;
  border: 3px solid #000;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

#pencil:hover,
#loc_dot:hover {
  color: #f0f8ff;
  cursor: pointer;
  border: 3px solid #f0f8ff;
  transition: all 200ms ease-in-out;
}

.weather_day {
  font-size: 13px;
}

/* Weather info current city */
.box_info {
  border: 3px solid #000;
  box-shadow: 20px 25px 15px #00000081;
  border-radius: 3px;
  display: inline-block;
  width: 610px;
  padding: 10px 0 10px 0;
  background: linear-gradient(
    to left,
    rgba(44, 152, 235, 0.2) 10%,
    rgba(44, 152, 235, 0.6),
    rgba(44, 152, 235, 1)
  );
}
.main_info {
  margin-top: 0;
}

.icon_day {
  position: fixed;
  margin-left: -115px;
  width: 80px;
  margin-top: -16px;
}
.day_temp {
  margin-right: 388px;
  margin-top: 20px;
  background-color: #1c47605e;
  border-radius: 0 400px 15px 0;
  text-align: left;
  padding: 3px;
}

.current_temp {
  position: fixed;
  font-size: 45px;
  margin-left: 234px;
}

.squares {
  position: fixed;
  margin-left: 308px;
}

.celsius {
  font-size: 23px;
  margin-bottom: 30px;
  padding: 2px;
  margin-left: 105px;
}

.precipitation_wind {
  margin-left: 420px;
  background-color: #1c47606b;
  padding: 3px;
  border-radius: 325px 0 0 15px;
  text-align: right;
  margin-top: 26px;
}
